<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to buy a URL</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>How to buy a URL</h1>
    <ol>
        <li>Go to <a href="https://hover.com">hover.com</a></li>
        <li>Search for your desired URL</li>
        <li>Purchase URL</li>
    </ol>

</body>

</html>