<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to buy a URL</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Merriweather:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>How to Make a Website</h1>
    <ol>
        <li>Create a text file on your desktop called index.html</li>
        <li>Copy & paste the following into your file:
            <pre>
                <code>
                    &lt;!DOCTYPE html&gt;
                        &lt;html lang="en"&gt;
                        
                        &lt;head&gt;
                            &lt;meta charset="UTF-8"&gt;
                            &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            &lt;title&gt;My Beautiful Website&lt;/title&gt;
                        &lt;/head&gt;
                        
                        &lt;body&gt;
                        
                            &lt;h1&gt;My Beautiful Website&lt;/h1&gt;
                            &lt;h2&gt;Todos:&lt;/h2&gt;
                            &lt;ol&gt;
                                &lt;li&gt;Make website beautifuller&lt;/li&gt;
                                &lt;li&gt;Celebrate&lt;/li&gt;
                                
                            &lt;/ol&gt;
                        
                        &lt;/body&gt;
                    &lt;/html&gt;
                </code>
            </pre>
        </li>
        <li>Save file as index.html</li>

    </ol>


</body>

</html>